
.line{
    width: 1px;
    size: 100px;
    border-top: 40px solid;
    border-color: gray ;
    margin-right: 20px;
    margin-top: 10px;

}
.card-header{
    padding: 10px;
}

.title{
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.card-header{
padding: 5px !important;
height: 70px !important;
}

.white-container{
    background-color: white;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.painel{
    height: 400px;
    border-radius: 5px;
    border: solid 1px white;
}
