<div class="card mt-5">
    <div>
        <div class="title">
            <h5>Dashboard</h5>
        </div>
    </div>

    <div class="d-flex flex-row">
        <div class="col-6 d-flex justify-content-start">
            <div class="white-container painel">
                <div class="lineservice">
                    <canvas id="lineChart" width="300" height="230">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="col-6 d-flex justify-content-end">
            <div class="white-container painel">
                <div class="lineservice">
                    <canvas id="barChart" width="300" height="230">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

</div>