.container{
    margin-top: 10px;
}
.card-header{
    padding: 5px !important;
    height: 70px !important;
    }

    .title{
        float: left;
        margin-top: 15px;
        margin-left: 10px;
    }
    .btn{
    float: right !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    }
    .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
    }
    .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
    }